$bgText:#291E0F;
$surfaceText: #414141;
$hardestGray: #606060;
$hardGray: #8F8F8F;
$lightGray: #BFBFBF;
$lightestGray: #F3F2F1;
$bgColor:#F4F4F2;
$white: #FFFFFF;
$red: #D80000;
$orange: #FF6633;
$yelow: #FCA21C;
$green: #008C49;
$lightGreen: #70C05B;
$lightBlue: #1CB9FC;
