// Gray shadow
$grayShadow5: 16px 32px 64px rgba(0, 0, 0, 0.1);
$grayShadow4: 8px 16px 32px rgba(0, 0, 0, 0.1);
$grayShadow3: 4px 8px 16px rgba(0, 0, 0, 0.1);
$grayShadow2: 2px 4px 8px rgba(0, 0, 0, 0.1);
$grayShadow1: 1px 2px 4px rgba(0, 0, 0, 0.1);
// Red shadow
$redShadow5: 16px 32px 64px rgba(255, 102, 51, 0.2);
$redShadow4: 8px 16px 32px rgba(255, 102, 51, 0.2);
$redShadow3: 4px 8px 16px rgba(255, 102, 51, 0.2);
$redShadow2: 2px 4px 8px rgba(255, 102, 51, 0.2);
$redShadow1: 1px 2px 4px rgba(255, 102, 51, 0.2);
// Blue shadow
$blueShadow5: 16px 32px 64px rgba(112, 192, 91, 0.2);
$blueShadow4: 8px 16px 32px rgba(112, 192, 91, 0.2);
$blueShadow3: 4px 8px 16px rgba(112, 192, 91, 0.2);
$blueShadow2: 2px 4px 8px rgba(112, 192, 91, 0.2);
$blueShadow1: 1px 2px 4px rgba(112, 192, 91, 0.2);