.header__section {
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
    gap: 10px;
    .logo-img {
      max-width: 152px;
      flex-shrink: 0;
      @media (max-width: 991px) {
        width: 40px;
      }

      .desktop-img {
        @media (max-width: 991px) {
          display: none;
        }
      }

      .mobile-img {
        display: none;
        @media (max-width: 991px) {
          width: 50px;
          height: auto;
          display: block;
        }
      }
    }

    &__btn {
      max-width: 140px;
      width: 100%;
      margin-left: auto;
      display: flex;
      justify-content: start;
      align-items: center;
      gap: 15px;
      padding: 8px;
      background: #70c05b;
      border-radius: 4px;
      color: #fff;
      height: 40px;
      cursor: pointer;
      @media (max-width: 768px) {
        max-width: 40px;
      }
      @media (max-width: 672px) {
        display: none;
      }
      span {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        @media (max-width: 768px) {
          display: none;
        }
      }
    }

    &__label {
      position: relative;
      max-width: 375px;
      width: 100%;

      border-radius: 4px;
      margin-right: auto;

      input {
        height: 40px;
        width: 100%;
        border: 1px solid #bfbfbf;
        padding: 8px 16px;
        color: #8f8f8f;
        border-radius: 4px;

        &:focus {
          border: 1px solid #70c05b;
          box-shadow: 4px 8px 16px rgba(112, 192, 91, 0.2);
        }
      }

      svg {
        position: absolute;
        top: 8px;
        right: 10px;
      }
    }

    .tool {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 24px;
      @media (max-width: 1100px) {
        margin-left: auto;
      }
      @media (max-width: 672px) {
        display: none;
      }

      > div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 8.5px;
        cursor: pointer;
      }

      > div:first-child {
        gap: 12px;
      }
    }

    .profile {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
      margin-left: 40px;
      cursor: pointer;
      flex-shrink: 0;
      @media (max-width: 1100px) {
        margin-left: 10px;
      }

      span {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        @media (max-width: 1100px) {
          display: none;
        }
      }
    }
  }
}
