html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

button,
input {
  /* 1 */
  overflow: visible;
}

button,
select {
  /* 1 */
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.1;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
* {
  padding: 0;
  margin: 0;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a:focus,
a:active {
  outline: none;
}

aside,
header,
nav,
footer,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

h1 {
  color: #414141;
  font-weight: 700;
  font-size: 4rem;
  line-height: 150%;
}

h2 {
  font-weight: 700;
  font-size: 3rem;
  line-height: 150%;
  color: #414141;
}

h3 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 150%;
  color: #414141;
}

h4 {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 150%;
  color: #414141;
}

h5 {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 150%;
  color: #414141;
}

h6 {
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  color: #414141;
}

p {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #bfbfbf;
}

@media (max-width: 768px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.25rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.25rem;
  }

  h5 {
    font-size: 1rem;
  }
}
button {
  background-color: transparent;
  border-radius: 4px;
  padding: 4px 8px;
}

button[data-type=green] {
  background-color: #70c05b;
  color: #fff;
}
button[data-type=green]:hover {
  box-shadow: 4px 8px 16px rgba(112, 192, 91, 0.2);
}
button[data-type=green]:active {
  box-shadow: inset 0px 2px 0px rgba(0, 0, 0, 0.2);
}

button[data-type=orange] {
  background-color: #ff6633;
  color: #fff;
}
button[data-type=orange]:hover {
  box-shadow: 4px 8px 16px rgba(255, 102, 51, 0.2);
}
button[data-type=orange]:active {
  box-shadow: inset 0px 2px 0px rgba(0, 0, 0, 0.2);
}

button[data-type=gray] {
  background-color: #f3f2f1;
  color: #606060;
}
button[data-type=gray]:hover {
  box-shadow: 1px 2px 4px rgba(112, 192, 91, 0.2);
}
button[data-type=gray]:active {
  box-shadow: inset 0px 2px 0px rgba(0, 0, 0, 0.2);
}

.container {
  max-width: 1248px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: auto;
  margin-left: auto;
}
@media (max-width: 992px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (max-width: 768px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
input,
label,
select,
textarea,
span {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Rubik", serif;
}

a {
  text-decoration: none;
  color: #606060;
}

body {
  background: #fbf8ec;
}

.gap40 {
  height: 40px;
}

.gap80 {
  height: 80px;
}

.gap120 {
  height: 120px;
}/*# sourceMappingURL=index.css.map */